.create-post-container {
   
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
pre{
   font-size: 20px;
}
.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-form input,
.post-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 30px;
  margin-bottom: 20px;
}

.post-form button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.status-buttons {
  display: flex;
  justify-content: left; 
  gap: 1rem; 
  margin: 20px 0;
  flex-wrap: wrap;
}

.status-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color:rgb(248, 252, 255) ;
  transition: background-color 0.3s ease;
}


