/* Profile */

.profileCard {
  border-radius: 12px;
  background-color: #f9f9f9;
}

.infoCard {
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.infoCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
}

/* My Ads */



