.section
{
  font-family:  Arial, sans-serif;
  margin-top: 150px;
}

/* Product Card */
.product-card {
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
  margin-top: 1rem;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Product Card  Swiper */
.swiper-button-wrapper {
  position: relative;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 2px 2px;
  width: 3rem;
 
}

.custom-prev {
  left: 0px; 

}

.custom-next {
  right: 0px; 
}

/* Buying Button  */
.buy
{
 background-color: rgba(68, 68, 78,0.2); 
}
 .buy:hover{
  background-color: rgb(68, 68, 78);
  color: white;
 }