.slide-content {
  display: flex;
  align-items: center;
  padding: 20px;
  pointer-events: auto;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
}
.swiper-slide {
  transition: transform 0.6s ease-in-out;
}

.swiper-slide:hover {
  transform: scale(1.02);
}
