.Vehicles,.Electornic,.Furniture,.Services,.Sports
{
   text-decoration: none;   
   font-weight: bold;
   color:Black
}

h6{
  font-size: 20px;
  font-family: 'palatino Lintype';
  font-weight: bold;
}

p{
    font-family: 'Tahoma';
  font-size: 20px;
}


small{
   font-size: 15px;
  font-family: 'Tahoma';
}

pre{
   font-size: 20px;
}

.ProductPage
{
 
  background: linear-gradient(to right, #f3f7ff, #c2d1eb);
  padding : 150px 20px 150px 20px;
}