.postpage
{
    margin-top: 9rem;
}

.SellCategories
{
    margin-top: 10rem;
}

.sellercard
{
    margin: 10rem 10rem ;
    padding: 3rem;
    
}

.Button
{
    border-radius: 4rem;
    width: 20rem;
}

.IndividualCard
{
    border: 10px solid #334b66; /* Blue border */
  border-radius: 10px;
}