#navbarContent{
  font-family:'Lucida Fax' ;
  font-size: 17px;
}


.list
{
    display: flex;
    background-color:rgb(248, 252, 255);
    color: black;
    gap: 2rem;
    font-family: Arial, sans-serif;
}
.Product,.Sign,.Login
{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 1.1rem;
}



.Product:hover, .Sign:hover, .Login:hover
{
    color: rgb(0, 0, 0);
}

.Logo
{
width: 100px;
height: 80px;
}
.Search
{
    font-size: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.dropdown-content {
    
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: stretch !important;
  }

  .navbar-nav input[type="text"] {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 50px;
  }

  .bi-search {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

